:root {
    --light-gray: #363543;
    --dark-gray: #282834;
    --mid-gray: #3F3E4E;
    --white: white;
    --orange: #F6B525;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}