:root {
    --light-gray: #363543;
    --mid-gray: #3f3e4e;
    --dark-gray: #282834;
    --darkest-gray: #1d1d26;
    --white: #fffdfa;
    --orange: #ffa500;
    --react-blue: #00d8ff;
    --pink: #ff00ff;
    --hover-orange: #f8a01e;
}

::-webkit-scrollbar {
    display: none;
}

textarea:focus,
input:focus {
    outline: none;
}

a:link {
    color: var(--white);
    text-decoration: none;
}

a:visited {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* firefox */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.color-white {
    color: var(--white);
}

.invisible {
    display: none;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.column {
    flex-direction: column;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.text-left {
    text-align: left;
}
