:root {
    --light-gray: #363543;
    --dark-gray: #282834;
    --mid-gray: #3F3E4E;
    --white: white;
    --orange: #F6B525;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.color-white {
    color: white;
}

.invisible { 
    display: none;
}