.content {
    color: var(--white);
}

#introduction {
    padding-top: 5.3rem;     
}

h1 {
    font-size: 2.5rem;
}

.description1 {
    position: relative;
    width: 15rem;
}

.description2 {
    position: relative;
    width: 15rem;
}

.introduction-right {
    margin-left: -2rem;
    z-index: 2;
    position: relative;
    margin-top: 3rem;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.5rem;
}

.introduction-line {
    width: 70%;
    margin-bottom: 1rem;
    border: 1px solid var(--orange);
}

.show-more {
    margin-top: .5rem;
    width: 8rem;
    cursor: pointer;
    color: var(--orange);
}

.socials {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);    
    width: 53%;
    height: 7rem;
    background-color: var(--mid-gray);
}

.social {
    font-size: 1.2rem;
    font-family: Sans-Serif;
    margin: 1.7rem 2.2rem;
    cursor: pointer;
    background-color: #383546;
    width: 14.7rem;  
    height: 3.7rem;
}

.logo {
    margin-right: .5rem;
    width: 1.5rem;
    size: 1rem;
    margin-top: .85rem;
}

.linkedin-logo {
    margin-left: .2rem;
    width: 1.5rem;
    size: 1rem;
    margin-top: .85rem;
}

#projects {
    background-color: var(--dark-gray);
    height: 45rem;
    width: 100%;
    padding-top: 6rem;
}

.show-div {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show-div.show {
    opacity: 1;
    transform: translateY(0);
}

.switch {
    margin-left: 25.5rem;
    display: flex;
}

.switch-button {
    width: 5rem;
    height: 1.5rem;
    padding: 1rem 2.5rem;
    margin: 2rem;
    background-color: var(--mid-gray);    
    border: 1px solid var(--orange);
    border-radius: 1.5rem;
    cursor: pointer;
}

.projects-content {
    margin-top: .3rem;
    margin-left: 25.5rem;
    border: 1px solid var(--orange);
    border-radius: 1.5rem;
    width: 57rem;
    height: 30rem;
}


#chess-content {
    width: 100%;
    height: 100%;
    display: flex;
}

#right-chess-content {
    height: 100%;
    width: 49.9%;
}

#left-chess-content {
    height: 100%;
    width: 49.9%;
}

.vertical-line {
    width: 0.5px;
    background-color: var(--orange);
    margin-top: 5%;
    height: 80%;
}

.play-button {
    border-radius: 1rem;
    background-color: #7FA650;
    width: 8rem;
    height: 1.5rem;
    padding: 1rem;
    margin: auto;
}

#chess-play-button {
    margin-top: 3.5rem;
    cursor: pointer;
}

.chess-logo {
    margin-top: 4rem;
    width: 10rem;
}

.game-text {
    width: 75%;
    margin-left: 12.5%;
}

#chess-text1 {
    margin-top: 1rem;
}

#chess-text2 {
    margin-top: 7rem;
}

#game1-content {
    padding-left: 10rem;
    padding-top: 10rem;
}

#game2-content {
    padding-left: 10rem;
    padding-top: 10rem;
}

#game3-content {
    padding-left: 10rem;
    padding-top: 10rem;
}