.content {
    color: var(--white);
}

.socials {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 53%;
    height: 7rem;
    background-color: var(--mid-gray);
}

.social {
    font-size: 1.2rem;
    font-family: Sans-Serif;
    margin: 1.7rem 2.2rem;
    cursor: pointer;
    background-color: #383546;
    width: 14.7rem;
    height: 3.7rem;
}

.logo {
    margin-right: 0.5rem;
    width: 1.5rem;
    size: 1rem;
    margin-top: 0.85rem;
}

.linkedin-logo {
    margin-left: 0.2rem;
    width: 1.5rem;
    margin-top: 0.85rem;
}

#projects {
    background-color: var(--dark-gray);
    height: 100vh;
    width: 100%;
}

#skills {
    background-color: var(--dark-gray);
    height: 100vh;
    width: 100%;
}

#contact {
    background-color: var(--darkest-gray);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contact-content {
    display: flex;
    position: relative;
}

.contact-row {
    margin-top: 2rem;
    text-align: left;
    width: 19rem;
    font-size: 0.95rem;
    padding-top: 1.8rem;
    position: relative;
}

.info {
    position: relative;

    padding: 0.6rem;
}

#contact-row-2 {
    margin-left: -6.5rem;
}

#phone-number {
}

#email {
}

.send-email {
    background-color: var(--dark-gray);
}
