h1 {
    font-size: 2.5rem;
    color: var(--react-blue);
    margin-left: 0.3rem;
}

.introduction-main {
    background-color: var(--darkest-gray);
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    position: relative;
}

#introduction-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    text-align: left;
}

#small-logo div:nth-child(1),
#small-logo div:nth-child(2) {
    text-align: left;
    font-size: 2rem;
}

#introduction-nav div:nth-child(1) {
    color: var(--react-blue);
}

#introduction-nav div:nth-child(2) {
    color: white;
}

.hire-me-button {
    position: absolute;
    right: 10%;
    width: 6rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background-color: var(--react-blue);
}

.introduction-content {
    margin-top: 9rem;
}

.greeting {
    z-index: 2;
    position: relative;
    margin-top: 7rem;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.5rem;
}

h3 {
    color: var(--pink);
}

.circle {
    border-radius: 50%;
    background-color: var(--dark-gray);
    background-image: url(../assets/photo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 27rem;
    width: 27rem;
    margin-left: -8rem;
    box-shadow: 0 0 20px var(--pink);
}

.photo {
    position: absolute;
    z-index: 3;
    width: 23rem;
    margin-left: 1.6rem;
    margin-top: -3rem;
    filter: blur(0px);
    filter: drop-shadow(0 0 9px var(--pink));
}

.description1 {
    position: relative;
    width: 15rem;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
}

h2 {
    margin-left: 0.3rem;
}

.description2 {
    position: relative;
    width: 15rem;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
}

.introduction-right {
    margin-left: -3.5rem;
    z-index: 2;
    position: relative;
    margin-top: 3rem;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.5rem;
}

.introduction-right h2 {
    color: var(--react-blue);
}

.introduction-line {
    width: 50%;
    margin-bottom: 1rem;
    border: 2px solid var(--pink);
    filter: blur(2px);
    box-shadow: 0 0 10px var(--pink), 0 0 20px var(--pink), 0 0 40px var(--pink), 0 0 80px var(--pink),
        0 0 120px var(--pink), 0 0 200px var(--pink), 0 0 300px var(--pink);
}

.introduction-right .introduction-line {
    width: 60%;
}

.show-more {
    position: relative;
    margin-top: 0.5rem;
    width: 8rem;
    cursor: pointer;
    color: var(--pink);
}
