h1 {
    font-size: 2.5rem;
}

.introduction-main {
    background-color: var(--light-gray);
    height: 32rem;
    width: 100%;
    display: flex;
}

.intruduction-content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
}

.greeting {
    z-index: 2;
    position: relative;
    margin-top: 6rem;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.5rem;
}

.circle {
    border-radius: 50%;
    background-color: var(--dark-gray);
    position: relative;
    z-index: 1;
    height: 27rem;
    width: 27rem;
    margin-left: -6rem;
}

.photo {
    position: absolute;
    z-index: 3;
    width: 23rem;
    margin-left: -11rem;
    margin-top: -3rem;
    filter: drop-shadow(0 0 7px var(--orange));
}

.description1 {
    position: relative;
    width: 15rem;
}

.description2 {
    position: relative;
    width: 15rem;
}

.introduction-right {
    margin-left: -2rem;
    z-index: 2;
    position: relative;
    margin-top: 3rem;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.5rem;
}

.introduction-line {
    width: 70%;
    margin-bottom: 1rem;
    border: 1px solid var(--orange);
    box-shadow: 0 0 10px var(--orange), 0 0 20px var(--orange), 0 0 40px var(--orange), 0 0 80px var(--orange);
}

.show-more {
    position: relative;
    margin-top: 0.5rem;
    width: 8rem;
    cursor: pointer;
    color: var(--orange);
    text-shadow: 0 0 10px var(--orange), 0 0 20px var(--orange), 0 0 40px var(--orange), 0 0 80px var(--orange);
}

.show-more::before {
    content: "";
    position: absolute;
    background-color: var(--orange);
    width: 100%;
    top: 100%;
    filter: blur(2em);
    height: 100%;
    transform: perspective(1rem) rotateX(40deg) scale(1, 0.3) translateZ(-0.2em);
    text-shadow: 0 0 10px var(--orange), 0 0 20px var(--orange), 0 0 40px var(--orange), 0 0 80px var(--orange);
}
