.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: var(--darkest-gray);
    color: var(--white);
    height: 5.3rem;
}

.navbar-button {
    margin: 1.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

#nameButton {
    margin-left: 27rem;
}

#home-icon {
    fill: var(--react-blue);
    width: 1.5rem;
    float: left;
    margin-right: 0.4rem;
}

#nameButtom div {
    width: 1rem;
    height: 1rem;
}

#aboutButton {
    margin-left: 28rem;
}

.highlight-color {
    color: var(--pink);
    text-shadow: 0 0 10px var(--pink), 0 0 20px var(--pink);
}
