.navbar {
    position: fixed;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    width: 23rem;
    height: 4.5rem;
    display: flex;
    padding: 0 5px;
    font-size: 1.3rem;
    background-color: var(--light-gray);
    border-radius: 9999px;
    color: var(--white);
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
}

.nav-button {
    cursor: pointer;
}

.active {
    color: white;
    padding: 0.5rem;
    border-radius: 100%;
    background: linear-gradient(92.23deg, #406aff 21.43%, #3bace2 50.53%, #b936ee 100%, #ff56f6 117.04%);
}

.highlight-color {
    color: var(--pink);
    text-shadow: 0 0 10px var(--pink), 0 0 20px var(--pink);
}
