.navbar {
    background-color: var(--gray);
    color: white;
    height: 5.3rem;
}

.navbar-button {
    padding: 2rem;
    margin-left: 2rem;
}

.navbar-button:hover {
    background-color: #5E5C78;
}

#nameButton {
    margin-left: 10rem;
}

#homeButton {
    margin-left: 20rem;
}

#aboutButton {
    
}