.projects {
    background-color: var(--dark-gray);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-div {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show-div.show {
    opacity: 1;
    transform: translateY(0);
}

.switch {
    display: flex;
}

.project-content {
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    margin-left: 49.9%;
    width: 0.5px;
    background-color: var(--pink);
    box-shadow: 0 0 12px var(--pink), 0 0 20px var(--pink);

    height: 80%;
}

.play-button {
    font-size: 1.5rem;
    border: 0.125rem solid var(--pink);
    color: var(--pink);
    width: 8rem;
    height: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 0.25rem;
    text-shadow: 0 0 0.1rem hsl(0 0% 100% / 0.5), 0 0 0.45rem var(--pink);
    box-shadow: 0 0 0.5rem 0 var(--pink);
}

.play-button:hover {
}

#chess-play-button {
    margin-top: 3.5rem;
    cursor: pointer;
}

.chess-logo {
    margin-top: 4rem;
    width: 10rem;
}

.game-text {
    width: 75%;
    margin-left: 12.5%;
}
