.projects {
    background-color: var(--dark-gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-div {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show-div.show {
    opacity: 1;
    transform: translateY(0);
}

#projects-main {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-logo {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
}

.project-content {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    color: var(--mid-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    font-size: 15px;
}

.annotation-link {
    background-color: var(--react-blue);
    border-radius: 50%;
}

.project-description-container {
    display: flex;
    align-items: flex-end;
}

.project-description {
    max-width: 35rem;
    margin-top: 1rem;
    text-align: left;
    word-spacing: 0.1rem;
    padding-right: 1rem;
}

.learn-more {
    font-size: 1rem;
    position: relative;
    bottom: 0;
    white-space: nowrap;
    color: var(--react-blue);
}

.project-title {
    color: var(--react-blue);
}

.horizontal-line {
    margin-top: 1rem;
    width: 98%;
    height: 1px;
    border: 0;
    background-color: var(--pink);
}

.vertical-line {
    width: 0.5px;
    background-color: var(--pink);
    box-shadow: 0 0 12px var(--pink), 0 0 20px var(--pink);
    margin: 0 2rem;
    height: auto;
}

.play-button {
    font-size: 1.5rem;
    border: 0.125rem solid var(--pink);
    color: var(--pink);
    width: 8rem;
    height: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 0.25rem;
    text-shadow: 0 0 0.1rem hsl(0 0% 100% / 0.5), 0 0 0.45rem var(--pink);
    box-shadow: 0 0 0.5rem 0 var(--pink);
}

.play-button:hover {
}

#chess-play-button {
    margin-top: 3.5rem;
    cursor: pointer;
}

.chess-logo {
    margin-top: 4rem;
    width: 10rem;
}

.game-text {
    width: 75%;
    margin-left: 12.5%;
}
