:root {
    --python-blue: #3870a1;
    --python-yellow: #ffd344;
    --cpp-blue: #5c8dbc;
    --cpp-dark-blue: #1a4674;
    --jar-blue: rgba(85, 177, 201, 0.3);
    --jar-border: #00bcff;
}

#skills {
    background-color: var(--darkest-gray);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#skills h1 {
    font-size: 2.5rem;
    margin-bottom: 10vh;
    color: var(--react-blue);
}

.skills-container {
    display: flex;
}

.stacks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.hover-me {
    writing-mode: vertical-rl;
    font-size: 2.5rem;
    color: var(--pink);
    text-shadow: 0 0 10px var(--pink), 0 0 20px var(--pink), 0 0 40px var(--pink), 0 0 80px var(--pink);
}

.stack {
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--light-gray);
    box-shadow: 0 10px 10px -10px var(--pink), 0 -10px 10px -10px var(--react-blue);
}

.stack:hover {
    box-shadow: 0 10px 10px -8px var(--pink), 0 -10px 10px -8px var(--react-blue);
}

.stack:hover .name,
.stack:hover .logo {
    opacity: 10%;
}

.stack:hover::before {
    transform: scaleX(1);
    opacity: 20%;
}

.stack::before {
    content: "";
    z-index: 4;
    position: absolute;
    width: 15rem;
    height: 15rem;
    background-color: var(--darkest-gray);
    transition: transform 0.2s;
    transform-origin: 0 0;
    opacity: 0%;
    transform: scaleX(0);
}

.stack:hover .hidden {
    padding-left: 2rem;
    opacity: 100%;
}

.logo {
    position: relative;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
}

.name {
    position: relative;
    z-index: 2;
    transition: opacity 0.2s ease-in-out;
}

.hidden {
    position: absolute;
    z-index: 5;
    width: 13rem;
    height: 8.5rem;
    margin-top: 6.5rem;
    font-size: 1.4rem;
    font-weight: 900;
    text-align: left;
    color: #707070;
    transition: transform 0.2s;
    transform-origin: 0 0;
    opacity: 0;
    transition: padding-left 0.2s ease-in-out, opacity 0.2s ease-in-out;
    text-shadow: 0 0 10px black;
}

#python-logo {
    position: relative;
    z-index: 1;
    width: 8rem;
    border: black 1px;
}

#python-name {
    position: relative;
    z-index: 2;
    width: 9rem;
    height: 5rem;
    margin-top: -4rem;
}

#react-logo {
    width: 8rem;
    filter: drop-shadow(0 0 3px var(--react-blue));
}

#react-name {
    margin-top: -0.5rem;
    width: 8rem;
    filter: drop-shadow(0 0 3px var(--react-blue));
}

#cpp-logo {
    width: 7rem;
    height: 7rem;
    filter: drop-shadow(0 0 5px var(--cpp-dark-blue));
}

#cpp-name {
    margin-top: -0.2rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}

#docker-logo {
    width: 10rem;
    filter: drop-shadow(0 0 3px var(--react-blue));
}

/* 
.bubble-container {
    position: absolute;
}

.bubble {
    display: flex;
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: #000;
}

.bubble span {
    position: absolute;
    border-radius: 50%;
}

.bubble span:nth-child(1) {
    inset: -2px;
    border-left: 12px solid var(--react-blue);
    border-top: 12px solid var(--react-blue);
    filter: blur(1.5px);
}

.bubble span:nth-child(2) {
    inset: -2px;
    border-right: 12px solid var(--react-blue);
    border-bottom: 12px solid var(--react-blue);
    filter: blur(1.5px);
}

#jar {
    margin-top: 5rem;
    z-index: 3;
    width: 320px;
    height: 320px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--jar-border);
    background: linear-gradient(135deg, var(--jar-blue), var(--jar-blue));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#jar::before {
    content: "";
    z-index: 4;
    position: absolute;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 15px solid var(--jar-border);
    box-shadow: 0 10px 0 var(--jar-blue);
    top: -0.7rem;
    width: 30%;
    height: 7%;
}

#jar::after {
    content: "";
    z-index: 1;
    position: absolute;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: white;

    filter: blur(1px);
    opacity: 5%;
}

#jar-container .bubble-container {
    position: absolute;
    z-index: 1;
}

#jar-container .bubble {
    width: 64px;
    height: 64px;
    animation: animate 4s linear infinite;
}

.jar-container {
    margin-top: 10rem;
    margin-left: 30rem;
}

@keyframes animate{
	0%{
		filter: hue-rotate(360deg);
	}
}

@keyframes react-pulse {
    0% {
      box-shadow: 0 0 1rem 0rem var(--react-blue);
    }
    50% {
      box-shadow: 0 0 1rem 0.3rem var(--react-blue);
    }
    100% {
      box-shadow: 0 0 1rem 0 var(--react-blue);
    }
} */

@media only screen and (max-width: 549px) {
    .stack {
        width: 8rem;
        height: 8rem;
    }

    .hover-me {
        font-size: 1.8rem;
        padding: 0.5rem;
    }

    .stacks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    #python-logo {
        margin-left: 0.5rem;
        width: 6rem;
    }

    #python-name {
        position: relative;
        z-index: 2;
        width: 4.5rem;
        height: 2.5rem;
        margin-top: -2.5rem;
    }

    #react-logo {
        width: 4.5rem;
    }

    #react-name {
        margin-top: -0.3rem;
        width: 4.5rem;
    }

    #cpp-logo {
        width: 4.5rem;
        height: 4.5rem;
        margin-left: 0.5rem;
    }

    #cpp-name {
        margin-top: -0.5rem;
        font-size: 1.7rem;
    }

    #docker-logo {
        width: 6rem;
        margin-left: 0.6rem;
    }
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
    .stack {
        width: 13rem;
        height: 13rem;
    }

    .hover-me {
        font-size: 2rem;
        padding: 0.5rem;
    }

    .stacks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .stack {
        width: 14rem;
        height: 14rem;
    }

    .stacks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .stacks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}
