.projects {
    background-color: var(--dark-gray);
    height: 100vh;
    height: --webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.show-div {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show-div.show {
    opacity: 1;
    transform: translateY(0);
}

#projects-main {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-logo {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
}

.project-content {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    color: var(--mid-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    font-size: 15px;
}

.annotation-link {
    background-color: var(--react-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.project-description-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5rem;
}

.project-description {
    max-width: 35rem;
    margin-top: 1rem;
    text-align: left;
    word-spacing: 0.1rem;
    padding-right: 1rem;
}

.learn-more {
    font-size: 1rem;
    position: relative;
    bottom: 0;
    white-space: nowrap;
    color: var(--react-blue);
    cursor: pointer;
}

.project-title {
    font-size: 1.8rem;
    color: var(--react-blue);
}

.horizontal-line {
    width: 98%;
    height: 1px;
    border: 0;
    background-color: var(--pink);
}

.vertical-line {
    width: 0.5px;
    background-color: var(--pink);
    box-shadow: 0 0 12px var(--pink), 0 0 20px var(--pink);
    margin: 0 2rem;
    height: auto;
}

.play-button {
    font-size: 1.5rem;
    border: 0.125rem solid var(--pink);
    color: var(--pink);
    width: 8rem;
    height: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 0.25rem;
    text-shadow: 0 0 0.1rem hsl(0 0% 100% / 0.5), 0 0 0.45rem var(--pink);
    box-shadow: 0 0 0.5rem 0 var(--pink);
}

#chess-play-button {
    margin-top: 3.5rem;
    cursor: pointer;
}

.chess-logo {
    margin-top: 4rem;
    width: 10rem;
}

.game-text {
    width: 75%;
    margin-left: 12.5%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .project-content {
        max-width: 15rem;
        padding-bottom: 1rem;
    }

    .learn-more {
        font-size: 0.7rem;
    }

    .arrow {
        font-size: 13px;
    }

    .project-title {
        font-size: 1.4rem;
    }

    .vertical-line {
        margin: 0 0.7rem;
    }

    #projects-header {
        max-width: 5.5rem;
    }
    #projects-header h1 {
        font-size: 1.3rem;
    }

    #projects-logo {
        width: 3rem;
        height: 3rem;
        margin-bottom: 1.5rem;
    }

    .projects-description {
        font-size: 0.8rem;
    }

    .project-description {
        max-width: 18rem;
        font-size: 0.6rem;
        margin-top: 0.4rem;
        word-spacing: 0rem;
        padding-right: 0.1rem;
    }

    .project-description-container {
        margin-bottom: 0.4rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .project-content {
        max-width: 25rem;
        padding-bottom: 1rem;
    }

    .learn-more {
        font-size: 0.8rem;
    }

    .arrow {
        font-size: 13px;
    }

    .project-title {
        font-size: 1.6rem;
    }

    .vertical-line {
        margin: 0 1rem;
    }

    #projects-header {
        max-width: 5.5rem;
    }
    #projects-header h1 {
        font-size: 1.3rem;
    }

    #projects-logo {
        width: 3rem;
        height: 3rem;
        margin-bottom: 1.5rem;
    }

    .projects-description {
        font-size: 0.8rem;
    }

    .project-description {
        max-width: 18rem;
        font-size: 0.8rem;
        margin-top: 0.4rem;
        word-spacing: 0rem;
        padding-right: 0.1rem;
    }

    .project-description-container {
        margin-bottom: 0.4rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .project-content {
        max-width: 35rem;
    }
    .project-description {
        max-width: 25rem;
        font-size: 0.9rem;
        margin-top: 0.5rem;
        word-spacing: 0.01rem;
        padding-right: 0.1rem;
    }

    .project-description-container {
        margin-bottom: 0.4rem;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .project-content {
        max-width: 40rem;
    }
    .project-description {
        max-width: 28rem;
    }
}
