#navbar {
    position: fixed;
    -webkit-backface-visibility: hidden;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    width: 23rem;
    height: 4.5rem;
    display: flex;
    padding: 0 1.25rem;
    font-size: 1.3rem;
    background-color: var(--light-gray);
    border-radius: 9999px;
    color: var(--white);
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
}

.nav-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.5rem;
}

.active {
    color: white;
    border-radius: 100%;
    background-color: var(--pink);
    box-shadow: 0 0 10px 0 var(--pink);
}

@media only screen and (max-width: 768px) {
    #navbar {
        bottom: 0.5rem;
        width: 15rem;
        height: 4rem;
    }

    .nav-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.5rem;
    }
}
